{% extends "bootstrap/base.html" %}
{% block title %}
    {% if title %}
        {{ title }} - Blog
        {% else %}
         welcome to Blog
    {% endif %}
{% endblock %}


{% block navbar %}
    <nav class="nav navbar-default">
        <div class="container-fluid">

            <div class="navbar-header">
                {# button data-target里的内容是导航条的id只 ‘nav_bar' #}
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav_bar" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Brand</a>
            </div>
            {# 导航真正开始的地方 #}
            <div class="collapse navbar-collapse" id="nav_bar">
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('index') }}" class="active">首页<span class="sr-only">(current)</span></a></li>
                    
                    {% if current_user.is_anonymous %}

                            <li class=""><a href="{{ url_for('login') }}">登录</a></li>
                            <li><a href="{{ url_for('register') }}">注册</a></li>

                        {% else %}
                            <li><a href="{{ url_for('user',username = current_user.username) }}">个人资料</a></li>
                            <li><a href="{{ url_for('logout') }}">注销</a></li>
                    {% endif %}
                    

                </ul>
            </div>
            {# 导航结束 #}
        </div>

    </nav>
    <hr>

{% endblock %}
{% block content %}
    <div class="container">
        {% with messages= get_flashed_messages()  %}
        {% if messages %}
            {% for message in messages %}
                <div class="row">
                    <div class="col-md-3"><div class="alert alert-info" role="alert"> {{ message }}</div></div>
                </div>


            {% endfor %}
            </ul>

        {% endif %}

    {% endwith %}
        {% block custom_content %}{% endblock %}
    </div>

{% endblock %}

